#tab1 {background: green;}

div.user {
	display: inline-block;
	width: 100px;
}
div.remain {
	display: inline-block;
	width: 500px;
}
div.played {
	display: inline-block;
	width: 50px;
}

div.row {
	display: inline-block;
	width: 300px;
	text-align: right;
}

span.pick {
	display: none;
}

#sortable1 {
	width: 800px;
	text-align: center;
}
div.card {
	width: 60px;
	text-align: center;
	display: inline-block;
	border: 1px solid;
	padding: 2px;
}
